[Unit]
Description=homlet server
After=network.target

[Service]
ExecStart=/usr/local/bin/homlet server
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
